# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules

# Build outputs
dist
dist-ssr
coverage

# Env files (важливо!)
.env
.env.*
*.local

# OS files
.DS_Store
Thumbs.db

# Editors
.vscode/*
!.vscode/extensions.json
.idea

# Misc
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?